/* ===============================
   🅰️ Poppins Font Family (Headings)
   =============================== */

@font-face {
  font-family: "Poppins";
  src: url("../../public/fonts/poppins/Poppins-Light.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../../public/fonts/poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../../public/fonts/poppins/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../../public/fonts/poppins/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../../public/fonts/poppins/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
}

/* ===============================
   🔤 Open Sans Font Family (Body)
   =============================== */

@font-face {
  font-family: "Open Sans";
  src: url("../../public/fonts/openSans/OpenSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("../../public/fonts/openSans/OpenSans-Regular.ttf")
    format("truetype");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("../../public/fonts/openSans/OpenSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("../../public/fonts/openSans/OpenSans-SemiBold.ttf")
    format("truetype");
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("../../public/fonts/openSans/OpenSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
}
